.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 256px;

  font-size: 64px;
  color: white;

  border-radius: 48px;
  background-color: blueviolet;

  transition: transform 0.5s;
}



.cardClosed {
  font-size: 0;

  transform: rotateX(180deg);
}

.cardClosed:hover {
  transform: rotateX(180deg) scale(105%);
}

.isClicked {
  background-color: rgb(35, 106, 138);
}